.App {
  height: 100vh;
  background-color: #132c33;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.principal-title {
  margin: 10px 0;
  font-size: 90px;
  color: #d8e3e7;
}

.title-icon {
  margin-right: 5px;
}